---
title: My default title with the layout file
---
<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <main>
    {{ content | safe }}

	<hr/>
	<small>A website by {{ site.author }} - &copy; {{ site.copyrightYear }}</small>

  </main>
</body>
</html>